# ignore the graphite database
.idea/*
# ignore the web services working directory
.venv
epa/data
epa/collector/__pycache__
epa/__pycache__
epa/tests/*.sh
.capture/
# other
release.sh
workspace.code-workspace
capture
tmp
TODO.md
_REL.md
tests
certs/
data/
epa/santricity_client
