# ignore the graphite database
.idea/*
# ignore all array files except the example
influx-database/*
# ignore the web services working directory
.venv
epa/data
epa/collector/__pycache__
epa/tests/*.sh
# other
release.sh
workspace.code-workspace
