requests==2.32.4
urllib3==2.4.0
# influxdb==5.3.1
certifi>=2024.07.04
charset-normalizer==3.4.1
idna==3.10
msgpack==1.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
influxdb3-python==0.12.0
pyarrow==19.0.1
